<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.secuso.privacyfriendlysudoku.ui.view">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="org.secuso.privacyfriendlysudoku.SudokuApp">
        <activity
            android:name="org.secuso.privacyfriendlysudoku.ui.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlysudoku.ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlysudoku.ui.TutorialActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlysudoku.ui.DailySudokuActivity"
            android:label="@string/Sudoku"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlysudoku.ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="org.secuso.privacyfriendlysudoku.ui.MainActivity" />
        <activity
            android:name="org.secuso.privacyfriendlysudoku.ui.GameActivity"
            android:label="@string/title_activity_game_view"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter >
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"
                      android:host="sudoku" />
            </intent-filter>

            <intent-filter >
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="sudoku" />
            </intent-filter>

        </activity>
        <activity android:name="org.secuso.privacyfriendlysudoku.ui.AboutActivity" />
        <activity android:name="org.secuso.privacyfriendlysudoku.ui.LoadGameActivity" />
        <activity
            android:name="org.secuso.privacyfriendlysudoku.ui.StatsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.secuso.privacyfriendlysudoku.ui.HelpActivity"
            android:label="@string/title_activity_help" />
        <service
            android:name="org.secuso.privacyfriendlysudoku.controller.GeneratorService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>