<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="org.secuso.privacyfriendlysudoku.PFSudoku"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.secuso.privacyfriendlysudoku.ui.SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlysudoku.ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.secuso.privacyfriendlysudoku.ui.TutorialActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.secuso.privacyfriendlysudoku.ui.DailySudokuActivity"
            android:label="@string/Sudoku"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.secuso.privacyfriendlysudoku.ui.CreateSudokuActivity"
            android:label="@string/Sudoku"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.secuso.privacyfriendlysudoku.ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="org.secuso.privacyfriendlysudoku.ui.MainActivity" />
        <activity
            android:name="org.secuso.privacyfriendlysudoku.ui.GameActivity"
            android:label="@string/title_activity_game_view"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="sudoku" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="sudoku.secuso.org"
                    android:scheme="http" />
                <data
                    android:host="sudoku.secuso.org"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name="org.secuso.privacyfriendlysudoku.ui.AboutActivity" />
        <activity android:name="org.secuso.privacyfriendlysudoku.ui.LoadGameActivity" />
        <activity
            android:name="org.secuso.privacyfriendlysudoku.ui.StatsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.secuso.privacyfriendlysudoku.ui.HelpActivity"
            android:label="@string/title_activity_help" />
        <service
            android:name="org.secuso.privacyfriendlysudoku.controller.GeneratorService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:foregroundServiceType="shortService"
            android:exported="false" />

        <service
            android:name="org.secuso.privacyfriendlysudoku.backup.PFABackupService"
            android:enabled="true"
            android:exported="true"
            android:process=":backup"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="org.secuso.privacyfriendlybackup.api.pfa.PFAAuthService" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />
    </application>

</manifest>